* {
    color: #00171F;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', sans-serif;
}

.secondary-bg {
    background-color: #121728;
}

.header-bg {
    background-color: #EF233C;
}

.secondary {
    color: #EDEDED !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    /*color: #EDEDED;*/
}

.projects {
    padding-top: 1em;
    padding-bottom: 1em;
}