div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', sans-serif;
    /*color: #1D1B1B;*/
    color: #273747;
}

.sidepanel,
.sidepanel h6,
.sidepanel p {
    background-color: #273747;
    color: #EFEFEF;
}

.header-bg {
    background-color: #EFEFEF;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.project-type {
    padding-top: 2em;
    /*padding-bottom: 1em;*/
}

.projects {
    padding-top: 1em;
    padding-bottom: 1em;
    /*color: #1D1B1B;*/
    color: #273747 !important;
}

.left-padded {
    padding-left: 1em;
}

.googleplay {
    width: 102px;
    height: 30px;
}
.appstore {
    width: 102px;
    height: 30px;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.googleplay,
.appstore {
    opacity: .35;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.googleplay:hover,
.appstore:hover {
    opacity: 1;
}